on:
    pull_request:
        branches: [main]

jobs:
    test:
        name: Run tests
        runs-on: ubuntu-latest

        steps:
            - uses: actions/checkout@v6
              name: Checkout repository

            - uses: oven-sh/setup-bun@v2
              name: Setup bun

            - run: bun install
              name: Install dependencies

            - run: bun run check-formatting
              name: Check formatting

            - run: bun run type-check
              name: Type check

            - run: bun test
              name: Run tests
